.Quiz{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background: linear-gradient(90deg, #5041b2 20%, #7969e6 100%);
  /* background: radial-gradient(40% 50%, #FAECD5, #CAE4D8); */

}

.Quiz h1 {
  color: #fff;
  margin-left: 10px;
}