*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Montserrat', sans-serif;
}

// Start Page
.startApp{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: #fff;
  background: #1a1a1a;
}

.startApp__inner{
  max-width: 600px;
  .startApp__title{
    line-height: 2rem;
    text-transform: uppercase;
  }
  .startApp__subtite{
    margin: 15px 0;
    font-weight: 700;
    text-transform: uppercase;
  }
  .startApp__btn{
    width: 250px;
    height: 50px;
    color: yellow;
    font-weight: 700;
    background:rgb(145, 39, 39);
    border: 3px solid yellow;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    font-size: 27px;
    cursor: pointer;
  }
  .startApp__text{
    // width: 500px;
    font-weight: 600;
    font-size: 1.2rem;
  }
  hr {
    margin-top: 30px;
    border: none;
    color: yellow;
    background-color: yellow;
    height: 2px;
  }
}
