.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  padding: 30px;

  display: flex;
  flex-direction: column;
  

  .cartItems {
    overflow: auto;
    margin: 0 0 40px 0;
    flex: 1;
  }

  h2 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 0;
    img{
      cursor: pointer;
    }
  }

  .cartItem {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden; 
    padding: 20px;
    margin: 0 0 20px 0;
    
    .cartItemImg {
      height: 70px;
      width: 70px;
      background-size: contain;
      background-position: 0 -3px;
      background-repeat: no-repeat;
      margin: 0 20px 0 0;
    }

    div {
      margin: 0 20px 0 0;
      flex: 1;
    }

    p {
      margin: 0;
      font-size: 16px;
    }

    b {
      font-size: 14px;
    }
    .removeBtn {
      opacity: 0.5;
      transition: opacity 0.15s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.cartTotal {

 ul {
   margin: 0 0 40px 0;

  li {
    display: flex;
    align-items: flex-end;
    margin: 0 0 20px 0;

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }


 }
 
 .greenButton {
   position: relative;

   &:disabled{
    background-color: #bebebe;
    cursor: default;
   }

   &:hover {
     img{
       transform: translateX(5px);
     }
   }

  
   img {
    position: absolute;
    right: 30px;
    top: 20px;
    transition: transform 0.15s ease-in-out ;
   }
 }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9dd558;
  border-radius: 18px;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten(#9dd558, 5%);
  }

  &:active {
    background: darken(#9dd558, 5%);
  } 
}